<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Lista emaili użytkowników</h1>
<h2>Liczba użytkowników: $users.size()</h2>
<ol>
    #foreach($email in $users)
        #if($foreach.index % 2 == 0)
            <li><strong>$email</strong></li>
        #else
            <li>$email</li>
        #end
    #end
</ol>
</body>
</html>